html {
  background-color: #000;  /* 両端部分に付ける背景色(黄緑色) */
}
body {
  margin: 30;
}
.flex{
  display: flex;
}

#yumiko1{
  width: 15em;
  height:15em;
  z-index: 0;
}
#yumiko2{
  width: 15em;
  height:15em;
  z-index: 0;
}

#back_g{
  position: fixed; /*canvasを固定*/
  top: 0; /*canvasを上に固定*/
  z-index: -1;
}

#words{
  color: white;
}